/* frontend/style.css */


body {
  font-family: 'Caveat', cursive;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Satisfy', cursive;
  font-family: 'Space Grotesk', sans-serif;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #e0e0e0db;
}

h1 {
  margin-top: -10px;
}

.form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form .row {
  display: flex;
  align-items: center;
  gap: 10px;
  
  }

.label-inline {
  margin-bottom: 0;
}

.form .row input[type="date"],
.form .row button {
  flex: 1;
}

#condicao, #alimento, #data-inicial, #calcular {
  border-radius: 5px;
  font-family: 'Caveat', cursive;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Satisfy', cursive;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold
  
}

label {
  display: block;
  margin-bottom: 5px;
}

#data-inicial {
  width: 100%;
}

select,
input[type="date"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #ff4b4b;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

#resultado {
  font-weight: bold;
  margin-top: 10px;
  background-color: white; /* Alterado para um fundo branco */
  border: 2px solid red; /* Adicionado uma borda vermelha */
  padding: 20px; /* Adicionado padding */
  color: red; /* Alterado a cor do texto para vermelho */
  text-align: left; /* Centralizado o texto */
  border-radius: 5px;
  
}

.etiqueta {
  border: 1px solid red; /* Adicionado uma borda vermelha fina ao redor da etiqueta */
  padding: 10px;
  border-radius: 5px;
  
}

.etiqueta p {
  margin: 5px 0;
}